<%- include("header") %>
    <body>
      <div class="container d-flex h-100 justify-content-center">
        <form action="/" method="POST">
          <br>
          <img src="https://i.pinimg.com/originals/a0/8d/09/a08d09c54020bbf5d80c5bc65de44041.jpg" class="rounded mx-auto d-block" style="width:50%;">
            <h2 style="color:#4a1c40;text-align: center;" class="display-1"><b>Weather Application</h2>
           <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for a city" name="city" aria-describedby="button-addon2" required>
                <div class="input-group-append">
                  <button class="btn btn-danger" type="submit" id="button-addon2">Go</button>
                  
                </div>
              </div>
              <h2 style="color:#4a1c40;text-align: center;" class="display-5"><b>By Preethi Chandra</h2>
        </form>
    </div>
</body>
</html>