<%- include("header") %>
<body class="firstPage h-100">
    <div class="container" style="height: 100%;padding-top:10%;">
        <div><img src="https://cdn.pixabay.com/photo/2018/01/04/15/51/404-error-3060993__340.png" class="img-fluid" style="display: block;margin-left: auto;margin-right: auto; width:20%;"></div>
    <h1 style="text-align: center;color: white;">ERROR!!</h1>
    <h2 style="color: white;text-align: center">The error might be an internal server error <br>or you have entered an invalid city name</h2>
    </div>
    </body>
</html>